# Node.js / Next.js
node_modules/
.next/
out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
.env*
*.local

# Python
Scripts/
Lib/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
*.egg-info/
.eggs/
build/
dist/
*.log
*.sqlite3
*.db
*.coverage
.venv/
venv/
ENV*/
env*/
pip-wheel-metadata/
*.manifest

# Jupyter
.ipynb_checkpoints

# IDE / OS
.DS_Store
.vscode/
.idea/
